<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>
<html>

<head>
  <title>File Upload</title>
</head>

<body>
  <div>
    <canvas id="fitting" style="width:50%;max-width:700px;height:50%;max-height: 400px;"></canvas>
  </div>

  <!-- File Upload -->

  <h1>File Upload</h1>
  <form method="POST" action="" enctype="multipart/form-data">
    <p><input type="file" name="file"></p>
    <p><input type="submit" value="Display"></p>
  </form>


  <!--// File Upload -->


  <!-- initials -->
  <h3>Gaussian Fit</h3>
  <form method="POST" action="" enctype="multipart/form-data">
    <div class="row">
      <div class="input-field col m4 push-m4">
        <label>Peak position</label>
        <input type="number" step="0.01" class="form-control" name="peak" required>
      </div>
    </div>

    <div class="row">
      <div class="input-field col m4 push-m4">
        <label>Area</label>
        <input type="number" step="0.1" class="form-control" name="area" required>
      </div>
    </div>

    <div class="row">
      <div class="input-field col m4 push-m4">
        <label>FWHM</label>
        <input type="number" step="0.01" class="form-control" name="fwhm" required>
      </div>
    </div>
    <p><input id="fit" type="submit" value="Fit"></p>
  </form>

  <!--// initials -->


  <script>
    // var chart;
    var getData = $.get('/data');
    getData.done(function (data) {
      console.log('-----data----', data)

      var ctx = document.getElementById('fitting');

      chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.xdata,
          datasets: [{
            type: 'bubble',
            label: 'Data2',
            data: makeBubbles().labels,
            backgroundColor: "rgba(76,78,80, .7)",
            borderColor: "transparent"
          }]
        },
        options: {
          scales: {
            xAxes: [{
              type: 'linear',
              position: 'bottom',
              ticks: {
                autoSkip: true,
                max: Math.max(...makeLabels().array)
              }
            }]
          }
        }
      });

      function makeLabels() {
        let arr = data.xdata;
        arr = arr.sort((a, b) => a - b);
        let newarr = arr.map(item => ({ x: item, y: item }));

        return {
          labels: newarr,
          array: arr
        };
      };

      function makeBubbles() {
        let arr = data.ydata;
        let lineLabels = makeLabels().array
        let labels = arr.map((item, i) => ({ x: lineLabels[i], y: item }))
        return { labels, arr };
      };
    })


    function updateChart() {

      var getDataFit = $.get('/data_fit');
      getDataFit.done(function (data) {
        console.log('-----datafit----', data)


        chart.destroy();

        var ctx = document.getElementById('fitting');

        chart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.xfit,
            datasets: [{
              type: 'line',
              label: 'Data',
              data: data.yfit,
              fill: false,
              backgroundColor: "rgba(218,83,79, .7)",
              borderColor: "rgba(218,83,79, .7)",
              pointRadius: 0
            }, {
              type: 'bubble',
              label: 'Data3',
              data: makeBubbles().labels,
              backgroundColor: "rgba(76,78,80, .7)",
              borderColor: "transparent"
            }]
          },
          options: {
            scales: {
              xAxes: [{
                type: 'linear',
                position: 'bottom',
                ticks: {
                  autoSkip: true,
                  max: Math.max(...makeLabels().array)
                }
              }]
            }
          }
        });

        function makeLabels() {
          let arr = data.xfit;
          arr = arr.sort((a, b) => a - b);
          let newarr = arr.map(item => ({ x: item, y: item }));

          return {
            labels: newarr,
            array: arr
          };
        };

        function makeBubbles() {
          let arr = data.yfit;
          let lineLabels = makeLabels().array
          let labels = arr.map((item, i) => ({ x: lineLabels[i], y: item }))
          return { labels, arr };
        };
      })
    }
    $('#fit').on('click', updateChart)

  </script>
  <!-- <script src="{{url_for('static', filename='js/plot.js')}}"></script> -->
</body>

</html>